@import "../shared/helper";

.home {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  > header {
    height: px(99);
    background-size: cover;
  }
  > main {
    flex: 1;
    display: grid;
    grid-template:
      "box1 box2 box4 box5" 755fr
      "box3 box3 box4 box5" 363fr /366fr 361fr 811fr 747fr;
    > .section1 {
      grid-area: box1;
      background-color: pink;
    }
    > .section2 {
      grid-area: box2;
      background-color: lightgray;
    }
    > .section3 {
      grid-area: box3;
      background-color: lightblue;
    }
    > .section4 {
      grid-area: box4;
      background-color: lightyellow;
    }
    > .section5 {
      grid-area: box5;
      background-color: rgb(190, 245, 190);
    }
  }
}
